language: python

matrix:
    fast_finish: true
    include:
        - os: linux
          dist: trusty
          sudo: required
          python: 3.5
          env: PYVERSION="3"
        - os: linux
          dist: trusty
          sudo: required
          python: 3.6
          env: PYVERSION="3"
        - os: osx
          env: PYVERSION="3"
          language: generic

before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then virtualenv venv -p python${PYVERSION}; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source venv/bin/activate; fi

install:
    - pip${PYVERSION} install --upgrade pip setuptools wheel
    - pip${PYVERSION} install coveralls codecov pyflakes
    - pip${PYVERSION} install --only-binary=numpy,scipy scipy
    - pip${PYVERSION} install -r requirements.txt
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then chmod +x ./cc-test-reporter; fi
    - pip${PYVERSION} install git+https://github.com/dvolgyes/TMQI

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./cc-test-reporter before-build; fi

script:
  - make test

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then coveralls; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then codecov; fi
